html, body { 
	height: 90%; 
	margin: 20px; 
	padding: 0; 
}

button {
  display: block;
  margin: 0 auto;
  margin-left: 47%;
  margin-top: -25px;
  padding: 10px;
  background-color: crimson;
  color: white;
  border-radius: 3px;
}

button:hover{
  opacity: .70;
}

#header {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  background-color: #48b5e9;
  color: white;
  padding: 25px 0px;
  margin: -5px 0px;
  margin-top: -27px;
  border-radius: 3px;
}

#map {
	height: 90%;
}

#iw-container  .iw-title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 3px;
}

.iw-title img {
  height: 70px;
  width: 70px;
}

#iw-container p {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

#iw-container a {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  display: block;
  margin: 0 auto;
}
